body{
    background: grey;
}
.datetime{
    font-size: 30px;
    padding: 24px;
    color: white;
    background: grey;
    box-shadow: 0 0 10px black;
    border-radius: 4px;
    border-right: 10px #19caa6 solid;
    width: 600px;
    font-weight: 500;
    font-family: sans-serif;
}
.time{
    font-size: 3em;
    color: #16dfb7;
}
.date{
    margin-top: 12px;
    font-size: 1.75em;

}